/*作成日：2024/07/24*/
/*作成者：長田　一成*/

table{
  border-collapse: collapse;
}

th{
  background-color: yellow;
  border: 2px solid #000000;
  padding: 4px;
}

td{
  border: 2px solid #000000;
  padding: 4px;
}
